.about-section {
    background-image: url();
    background-repeat: no-repeat;
    background-position: right 0 bottom 50px;
    background-color: $pinkBackG;
    
    &__titles{
        text-align: center;
    }

    &__subtitle{
        margin-bottom: 15px;
    }
    

     &__title {
        margin-bottom: 32px;
     }

     &__info{
         display: flex;
         flex-direction: column;
         align-items: center;
     }


    &__text {
        margin-bottom: 40px;
    }

    &__description{
        display: block;
        width: 220px;
        margin-bottom: 15px;
    }
    &__description.paragraph {
        margin-bottom: 20px;
    }
}
    