.customer-reviews {
  padding-top: 80px;
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
  }
  & > .container {
    padding: 0 20px;
    @media screen and (min-width: 768px) {
      padding: 0 74px;
    }
    @media screen and (min-width: 1280px) {
      padding: 0 123px;
    }
  }
}

.review__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & > img {
    max-width: 85px;
    height: auto;
  }
}

.slick-slide img {
  margin: 0 auto;
}

.review__desc {
  margin-top: 32px;
  // xmax-width: 100vw;
  height: auto;
  &::before {
    content: '';
    position: absolute;
    top: 145px;
    left: 70px;
    border: none;
    background-image: url(../images/icon/bracket.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 54px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    &::before {
      content: '';
      top: 130px;
      left: 65px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 16px;
  }
}

.wrap__text {
  padding: 43px 58px 26px 65px;
  background: $greyLightBackG;
  margin-bottom: 36px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 24px;
  }
}

.review__text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  color: $black;
  padding: 0 20px;
  background: repeating-linear-gradient(
    transparent 0px,
    transparent 27px,
    $greyBackG 27px,
    $greyBackG 28px,
    transparent 28px,
    transparent 30px
  );
}
.wrap__name {
  position: relative;
}

.review__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $black;
  margin-bottom: 16px;
  &::before {
    content: '';
    position: absolute;
    top: -16px;
    left: calc(100vw / 2 - 32px);
    border: none;
    background-image: url(../images/icon/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 4px;
    @media screen and (min-width: 480px) {
      left: 208px;
    }
    @media screen and (min-width: 768px) {
      left: 296px;
    }
    @media screen and (min-width: 1200px) {
      left: 500px;
    }
  }
}

.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    justify-content: center;
    li {
      margin-right: 18px;
    }
  }

  button {
    border: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
}

.slick-active button {
  background: url(/src/images/review.png);
  border-radius: 0%;
}
