.footer {
  background-color: #fff5f6;
}

.footer-section {
  border-top: 1px solid #e1e1e1;
}

.footer-container {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.socials__icon {
  fill: #fea5bb;
  &:hover {
    fill: #d41443;
  }
}

.box-two {
  margin-bottom: 40px;
}

.contacts-footer {
  text-decoration: none;
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000;
  &__tel {
    color: #d82f58;
  }
  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.box-one {
  margin-bottom: 40px;
  @include desktop {
    margin-bottom: 60px;
  }
  &__list {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
    }
    @include tablet {
      margin-bottom: 12px;
    }
    @include desktop {
      margin-bottom: 16px;
    }
  }
  &__text {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffa5ba;
    @include tablet {
      font-size: 26px;
      line-height: 1.15;
    }
    @include desktop {
      font-size: 30px;
      line-height: 1.13;
      br {
        content: '';
      }
    }
  }
  &__logo {
    font-family: 'Titan One';
    font-weight: 700;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    @include tablet {
      font-size: 48px;
      letter-spacing: 0.06em;
    }
    @include desktop {
      br {
        content: '';
      }
      font-size: 58px;
      line-height: 1.13;
    }
  }
}

.socials-footer {
  display: flex;
  justify-content: right;
  margin-bottom: 40px;
  @include desktop {
    margin-top: 12px;
  }
  &__item {
    margin-right: 28.24px;
    &:last-child {
      margin-right: 0;
    }
    @include tablet {
      margin-right: 30px;
    }
  }
}

.ice-cream-footer {
  display: block;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: #978689;
  padding-top: 16px;
  padding-bottom: 20px;
  @include tablet {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 186%;
    br {
      content: '';
    }
  }
}
