.gallery__container {
  padding: 2vw 0;
}
.gallery__list {
  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(37.5vw + 10px);
  justify-content: center;
}
.gallery__item {
  display: flex;
  align-items: flex-end;
  &:hover .gallery__img {
    width: 25vw;
    height: 25vw;
  }
}
.gallery__item:nth-child(odd) {
  align-items: flex-start;
}
.gallery__item:first-child,
.gallery__item:last-child {
  align-items: center;
  height: 100%;
}
.gallery__item:nth-child(2n):not(:last-child),
.gallery__item:nth-child(4n + 3):not(:last-child) {
  position: relative;
  top: 2vw;
}
.gallery__item:nth-child(4n):not(:last-child),
.gallery__item:nth-child(4n + 5):not(:last-child) {
  position: relative;
  top: -2vw;
}
.gallery__img {
  border-radius: 5px;
  width: 12.5vw;
  height: 12.5vw;
  margin: 2.5px;
  transition: 250ms;
}
