.hero-header {
  width: 100%;
  background-color: $pinkBackG;
  overflow: hidden;

  /*header навигация*/
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  @media screen and (min-width: 768px) {
    margin-right: 293px;
  }

  @media screen and (min-width: 1170px) {
    margin-right: 175px;
  }
}
.hero-header__circle {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.hero-header__circle::before {
  position: absolute;
  top: 73px;
  left: 36px;
  content: '';
  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: $pink;
  z-index: 1;

  animation: animationCircle;
  animation-iteration-count: 1;
  animation-timing-function: $cubic;
  animation-direction: reverse;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-duration: 2s;

  @media screen and (min-width: 768px) {
    top: 43px;
    left: 248px;
    width: 335px;
    height: 335px;
  }

  @media screen and (min-width: 1280px) {
    top: 54px;
    left: 517px;
    width: 534px;
    height: 534px;
  }
}
.hero-header__container {
  max-width: 480px;
  padding: 8px 20px 158px 20px;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  animation: animationIcecream;
  animation-iteration-count: 1;
  animation-timing-function: $cubic;
  animation-direction: reverse;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-duration: 3s;

  background-repeat: no-repeat;

  background-image: url(../images/heroicecream-mobile.png);
  background-position: bottom 0 left 117px;
  background-size: 171px 410px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/heroicecream-mobile@x2.png);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 32px 32px 56px 32px;

    background-image: url(../images/heroicecream-tablet.png),
      url(../images/bioeco-tablet.png), url(../images/sotasty-tablet.png);
    background-position: bottom 0 left 332px, bottom 16px left 32px,
      bottom 1px right 32px;
    background-size: 143px 336px, 152px 154px, 190px 150px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/heroicecream-tablet@x2.png),
        url(../images/bioeco-tablet@x2.png),
        url(../images/sotasty-tablet@x2.png);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 37px 16px 84px 16px;

    background-image: url(../images/heroicecream-desktop.png),
      url(../images/bioeco-desktop.png), url(../images/sotasty-desktop.png);
    background-position: bottom 0 left 636px, bottom 60px left 16px,
      bottom 1px right 16px;
    background-size: 236px 557px, 213px 216px, 304px 211px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/heroicecream-desktop@x2.png),
        url(../images/bioeco-desktop@x2.png),
        url(../images/sotasty-desktop@x2.png);
    }
  }
}

.hero {
  padding-top: 136px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }
}

.hero__flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 108px;
  }
}

.hero-header__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  z-index: 10;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
  }

  &--accent {
    font-size: 48px;
    line-height: 0.97;
    color: $red;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }
}

.hero-header__list-btn {
  display: flex;
}

.hero-header__item-btn:first-child {
  margin-right: 9px;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }
}

.hero-header__button {
  font-size: 8px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
    padding: 13px 21px;
  }

  transition: background-color 250ms $cubic;

  &--red {
    color: $white;
    background-color: $red;

    &:hover,
    &:focus {
      background-color: $redBtnHoverBackG;
    }
  }

  &--white {
    color: $red;
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $whiteBtnHoverBackG;
    }
  }
}

.hero-header__button-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: $red;
  background-color: $white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }

  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $whiteBtnHoverBackG;
  }
}

.hero-icon {
  fill: currentColor;
  width: 6px;
  height: 6px;
  @media screen and (min-width: 1280px) {
    width: 8px;
    height: 8px;
  }
}

.hero-header__list-number {
  display: none;

  @media screen and (min-width: 768px) {
    display: list-item;
    margin-right: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 18px;
  }
}

.hero-header__item-number {
  position: relative;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: $white;
  z-index: 10;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }

  &:first-child {
    margin-bottom: 16px;
  }

  &--accent {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $red;
    @media screen and (min-width: 1280px) {
      font-size: 46px;
    }
  }
}

.hero-header__item-number::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $white;
  z-index: -1;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    top: -4px;
    right: -18px;
  }
}

.hero__text-box {
  @media screen and (max-width: 767px) {
    display: none;
  }

  margin-left: 152px;
  @media screen and (min-width: 1280px) {
    margin-left: 213px;
  }
}

.hero__text {
  width: 115px;
  font-size: 8px;
  line-height: 1.5;
  color: $white;
  margin-bottom: 7px;

  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

// animation

@media screen and (max-width: 767px) {
  @keyframes animationCircle {
    0% {
      top: 73px;
      left: 36px;
      transform: scale(1);
    }
    100% {
      top: -345px;
      left: 36px;
      transform: scale(0.3);
    }
  }

  @keyframes animationIcecream {
    0% {
      background-position: bottom 0 left 117px;
    }

    100% {
      background-position: bottom -410px left 117px;
    }
  }
}

@media screen and (min-width: 768px) {
  @keyframes animationCircle {
    0% {
      top: 43px;
      left: 248px;
      transform: scale(1);
    }
    100% {
      top: -335px;
      left: 248px;
      transform: scale(0.3);
    }
  }

  @keyframes animationIcecream {
    0% {
      background-position: bottom 0 left 332px, bottom 16px left 32px,
        bottom 1px right 32px;
    }

    100% {
      background-position: bottom -336px left 332px, bottom 16px left 32px,
        bottom 1px right 32px;
    }
  }
}

@media screen and (min-width: 1280px) {
  @keyframes animationCircle {
    0% {
      top: 54px;
      left: 517px;
      transform: scale(1);
    }
    100% {
      top: -534px;
      left: 517px;
      transform: scale(0.3);
    }
  }

  @keyframes animationIcecream {
    0% {
      background-position: bottom 0 left 636px, bottom 60px left 16px,
        bottom 1px right 16px;
    }

    100% {
      background-position: bottom -557px left 636px, bottom 60px left 16px,
        bottom 1px right 16px;
    }
  }
}
