// text
$red: #d41443;
$white: #ffffff;
$pink: #ffa5ba;
$black: #000000;
$grey: #907e82;

// button
$redBtnHoverBackG: #c7133e;
$whiteBtnHoverBackG: #ecebeb;

// backgroud

$pinkBackG: #ffb8ca;
$pinkLightBackG: #fff5f6;
$pinkModalBackG: #e17992;
$brownBackG: #f0d1a5;
$greenBackG: #c2e297;
$greyBackG: #e1e1e1;

// lines (меню хедера и цитаты)
$pinkLine: #e18298;
$greyLine: #e5e5e5;

//fonts
$mainFont: 'Titan One', cursive;
$secondaryFont: 'DM Sans', sans-serif;
