// text
$red: #D41443;
$white: #FFFFFF;
$pink: #FFA5BA;
$black: #000000;
$grey: #907E82;

// button
$redBtnHoverBackG: #C7133E;
$whiteBtnHoverBackG: #ECEBEB;

// backgroud

$pinkBackG: #FFB8CA;
$pinkLightBackG: #FFF5F6;
$pinkModalBackG: #E17992;
$brownBackG: #F0D1A5;
$greenBackG: #C2E297;
$greyBackG: #E1E1E1;

// lines (меню хедера и цитаты)
$pinkLine: #E18298;
$greyLine: #E5E5E5;

// время перехода
$cubic: cubic-bezier(0.4, 0, 0.2, 1);