<section class="about-section" id="about">
    <div class="about-section__container container">
        <div class="about-section__titles">
            <p class="about-section__subtitle">tradition and love</p> 
            <h1 class="about-section__title">how it’s made?</h1>
        </div>
        <div class="about-section__info">
            <div class="about-section__img-thumb">
            <picture>
            <source srcset="./images/bigecocow-mobile.png 1x, ./images/bigecocow-mobile@x2.png 2x"
                media="(min-width: 320px)">
            <img src="./images/bigecocow-mobile.png" alt="cow" width="280" height="280">
        </picture>    
            </div>
        <div class="about-section__main-text">
        <p class="about-section__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
            egestas eros.Maecenas eleifend erat at justo fringilla.
        </p>

        <p class="about-section__description">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
        imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, <br>
        tincidunt.
        </p>

        <span class="about-section__description paragraph">
        Aliquam erat volutpat. Aenean accumsan.
        </span>
    
        <button type="button" class="about-section__button about-section__button-text"> Read more 
            <svg class="about-section__button-icon" width="6" height="8">
                <use href="./images/icon/svg-all.svg#about-arrow"></use>
            </svg>
        </button>
        </div>
        </div>
        
    </div>

</section>