        <!-- -------------Contacts----------------- -->

        <section class="contacts">
          <div class="container">

            <div class="wraper-grid">
              <div class="contacts-wraper">
                <h3 class="visually__hidden">Контакты в городах</h3>
                <div class="contacts-list">
                  <div class="contacts-compani">CAFE
                  </div>
                  <div class="contacts-city">Chikago
                  </div>
                  <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  <div class="border">
                  </div>
                  <div class="contacts-days">Monday - Friday
                  </div>
                  <div class="contacts-time">06:00 AM - 10:00 PM
                  </div>
                  <div class="contacts-days">Saturday - Sunday
                  </div>
                  <div class="contacts-time">08:00 AM - 16:00 PM
                  </div>
                  <div class="border">
                  </div>
                  <div class="contacts-connect-wraper">
                    <a href="tel:+61(0)383766284" class="contacts-connect">
                      +61(0 )383 766 284
                    </a>
                  </div>
                  <div class="contacts-connect">
                    <a href="mailto:noreply@envato.com" class="contacts-connect">
                      noreply@envato.com
                    </a>
                  </div>
                </div>
              </div>



              <div class="contacts-wraper">
                <div class="contacts-list">
                  <div class="contacts-compani-food">FOOD TRUCK
                  </div>
                  <div class="contacts-city">Los Angeles
                  </div>
                  <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  <div class="border">
                  </div>
                  <div class="contacts-days">Monday - Friday
                  </div>
                  <div class="contacts-time">06:00 AM - 10:00 PM
                  </div>
                  <div class="contacts-days">Saturday - Sunday
                  </div>
                  <div class="contacts-time">08:00 AM - 16:00 PM
                  </div>
                  <div class="border">
                  </div>
                  <div class="contacts-connect-wraper">
                    <a href="tel:+61(0)383766284" class="contacts-connect">
                      +61(0 )383 766 284
                    </a>
                  </div>
                  <div class="contacts-connect">
                    <a href="mailto:noreply@envato.com" class="contacts-connect">
                      noreply@envato.com
                    </a>
                  </div>
                </div>
              </div>



              <div class="contacts-wraper">
                <div class="contacts-list">
                  <div class="contacts-compani">CAFE
                  </div>
                  <div class="contacts-city">New York
                  </div>
                  <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  <div class="border">
                  </div>
                  <div class="contacts-days">Monday - Friday
                  </div>
                  <div class="contacts-time">06:00 AM - 10:00 PM
                  </div>
                  <div class="contacts-days">Saturday - Sunday
                  </div>
                  <div class="contacts-time">08:00 AM - 16:00 PM
                  </div>
                  <div class="border">
                  </div>
                  <div class="contacts-connect-wraper">
                    <a href="tel:+61(0)383766284" class="contacts-connect">
                      +61(0 )383 766 284
                    </a>
                  </div>
                  <div class="contacts-connect">
                    <a href="mailto:noreply@envato.com" class="contacts-connect">
                      noreply@envato.com
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="button-wraper">
              <div class="btn">
                <button class="our-button">Our Locations</button>
              </div>
              <div class="btn">
                <button class="franchise-button" data-modal-open>Franchise</button>
              </div>
            </div>
          </div>
        </section>

        <div class="backdrop is-hidden" data-modal>
          <div class="modal">
            <button type="button" class="modal-close" data-modal-close>
              <svg class="backdrop-close-icon" width="18" height="18">
                <use href="./partials/images svg/close.svg#icon-close"></use>
              </svg>
            </button>

            <p class="backdrop__title">Fill out the form below and we'll call you</p>

            <form class="modal-form">
              <div class="modal-form__field">
                <label for="user-name" class="modal-form__label">Full name</label>
                <div class="modal-form__wrap">
                  <input type="text" name="user-name" class="modal-form__input" placeholder="" required
                    id="user-name" />

                </div>
              </div>

              <div class="modal-form__field">
                <label for="user-tel" class="modal-form__label">Phone number</label>
                <div class="modal-form__wrap">
                  <input type="tel" name="user-tel" class="modal-form__input" placeholder="" required id="user-tel" />

                </div>
              </div>

              <div class="modal-form__field">
                <label for="user-email" class="modal-form__label">E-mail</label>
                <div class="modal-form__wrap">
                  <input type="email" name="user-email" class="modal-form__input" placeholder="" id="user-email" />

                </div>
              </div>

              <div class="modal-form__field">
                <label for="user-text" class="modal-form__label">Message</label>
                <textarea name="user-text" id="user-text" class="modal-form__text" placeholder="Type here"></textarea>
              </div>
              <div class="modal-form__field">
                <input type="checkbox" class="modal-form__check " id="modal-check" name="modal-check" />
                <label for="modal-check" class="modal-form__note">

                  I agree to receive the newsletter and to the<a href="#" class="modal-form__link"> Privacy Policy</a>
                </label>
              </div>
              <div class="modal-form__button">
                <button type="submit" class="modal-form__send">Отправить</button>
              </div>
            </form>
          </div>
        </div>
        <script src="./sass/js.modal/modal.js"></script>