<!-- -------------Contacts----------------- -->

<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts-wraper">
      <h3 class="visually__hidden">Контакты в городах</h3>
      <ul class="contacts-list">
        <li class="contacts-compani">CAFE</li>
        <li class="contacts-city">Chikago</li>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="border"></div>
        <li class="contacts-days">Monday - Friday</li>
        <li class="contacts-time">06:00 AM - 10:00 PM</li>
        <li class="contacts-days">Saturday - Sunday</li>
        <li class="contacts-time">08:00 AM - 16:00 PM</li>
        <div class="border"></div>
        <li class="contacts-connect-wraper">
          <a href="tel:+61(0)383766284" class="contacts-connect">
            +61(0 )383 766 284
          </a>
        </li>
        <li class="contacts-connect">
          <a href="mailto:noreply@envato.com" class="contacts-connect">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </div>

    <div class="contacts-wraper">
      <ul class="contacts-list">
        <li class="contacts-compani-food">FOODTRUCK</li>
        <li class="contacts-city">Los Angeles</li>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="border"></div>
        <li class="contacts-days">Monday - Friday</li>
        <li class="contacts-time">06:00 AM - 10:00 PM</li>
        <li class="contacts-days">Saturday - Sunday</li>
        <li class="contacts-time">08:00 AM - 16:00 PM</li>
        <div class="border"></div>
        <li class="contacts-connect-wraper">
          <a href="tel:+61(0)383766284" class="contacts-connect">
            +61(0 )383 766 284
          </a>
        </li>
        <li class="contacts-connect">
          <a href="mailto:noreply@envato.com" class="contacts-connect">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </div>

    <div class="contacts-wraper">
      <ul class="contacts-list">
        <li class="contacts-compani">CAFE</li>
        <li class="contacts-city">New York</li>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="border"></div>
        <li class="contacts-days">Monday - Friday</li>
        <li class="contacts-time">06:00 AM - 10:00 PM</li>
        <li class="contacts-days">Saturday - Sunday</li>
        <li class="contacts-time">08:00 AM - 16:00 PM</li>
        <div class="border"></div>
        <li class="contacts-connect-wraper">
          <a href="tel:+61(0)383766284" class="contacts-connect">
            +61(0 )383 766 284
          </a>
        </li>
        <li class="contacts-connect">
          <a href="mailto:noreply@envato.com" class="contacts-connect">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </div>
    <div class="button-wraper">
      <div class="btn">
        <button class="our-button">Our Locations</button>
      </div>
      <div class="btn">
        <button class="franchise-button">Franchise</button>
      </div>
    </div>
  </div>
</section>
