<section class="customer-reviews">
  <div class="container">
    <ul class="review__list">
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/matvij.png    1x,
            ./images/photos-customers/matvij-2x.png 2x
          "
          src="./images/photos-customers/matvij.png"
          alt="Photo Matvij"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              Thanks to GO IT courses, I learned how to create websites and
              improved my soft skills such as scrum, teamwork, and time
              management. I am grateful to the GO IT team for their work and
              help during my studying.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Matvii, Kyiv</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/zhyhanov-serhii.png    1x,
            ./images/photos-customers/zhyhanov-serhii-2x.png 2x
          "
          src="./images/photos-customers/zhyhanov-serhii.png"
          alt="Photo Serhii"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              I have a masters degree at engineering and mechanics. Now
              upgrading to an IT Full Stack development. My goal is to become a
              proficient IT specialist.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Serhii, Khmelnytskyi</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/anna.png    1x,
            ./images/photos-customers/anna-2x.png 2x
          "
          src="./images/photos-customers/anna.png"
          alt="Photo Anna"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              The study isn't easy but interesting. After every assignment
              homework, i proud of myself that i didn't quit. Of course thanks
              mentors and other students for their help.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Anna, Kharkiv</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/yana.png    1x,
            ./images/photos-customers/yana-2x.png 2x
          "
          src="./images/photos-customers/yana.png"
          alt="Photo Yana"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              Thanks to GoIT I found a new passion in my life. Of course,
              programming is not easy but very exciting!
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Yana, Lviv</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/valerian.png    1x,
            ./images/photos-customers/valerian-2x.png 2x
          "
          src="./images/photos-customers/valerian.png"
          alt="Photo Valerian"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              GoIT is a team of professionals. GoIT is a great start. Thank you
              GoIT for your existence.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Valerian, Zhytomyr</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/vadym.png    1x,
            ./images/photos-customers/vadym-2x.png 2x
          "
          src="./images/photos-customers/vadym.png"
          alt="Photo Vadym"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              The study is going great, the course presents a lot of useful, and
              most importantly, in an understandable form of educational
              material. Lectures Repeta one love.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Vadym, Kyiv</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/aliona.png    1x,
            ./images/photos-customers/aliona-2x.png 2x
          "
          src="./images/photos-customers/aliona.png"
          alt="Photo Alona"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              Learning is the road to a new life! This is new information, new
              experience, new acquaintances, impressions, emotions ... Learning
              is cool!
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Alona, Khmelnytsky</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/sergey.png    1x,
            ./images/photos-customers/sergey-2x.png 2x
          "
          src="./images/photos-customers/sergey.png"
          alt="Photo Sergey"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              the teaching is good, the lecturers explain with ease and
              accessibility.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Sergey, Nikolaev</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/denis.png    1x,
            ./images/photos-customers/denis-2x.png 2x
          "
          src="./images/photos-customers/denis.png"
          alt="Photo Denis"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              my learning became interesting after learning flexbox
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Denis,Kiev</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/serhii-donetsk.png    1x,
            ./images/photos-customers/serhii-donetsk-2x.png 2x
          "
          src="./images/photos-customers/serhii-donetsk.png"
          alt="Photo Serhii"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              I have a masters degree at electrical systems and networks. Now
              upgrading to an IT Full Stack development. My goal is to become a
              proficient IT specialist.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Serhii, Donetsk</h3>
          </div>
        </div>
      </li>
      <li class="review__item">
        <img
          srcset="
            ./images/photos-customers/ivan.png    1x,
            ./images/photos-customers/ivan-2x.png 2x
          "
          src="./images/photos-customers/ivan.png"
          alt="Photo Ivan"
          width="85"
          height="85"
        />
        <div class="review__desc">
          <div class="wrap__text">
            <article class="review__text">
              Cool courses. Cool Community of like-minded people. The material
              is presented in a structured way, only what is really needed,
              instead of tons of rarely used information.
            </article>
          </div>
          <div class="wrap__name">
            <h3 class="review__name">Ivan, Nikolaev</h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
