<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery0-85.jpg   80w,
            ./images/gallery/gallery0-125.jpg 125w,
            ./images/gallery/gallery0-170.jpg 170w,
            ./images/gallery/gallery0-280.jpg 280w,
            ./images/gallery/gallery0-340.jpg 340w,
            ./images/gallery/gallery0-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery0-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery1-85.jpg   80w,
            ./images/gallery/gallery1-125.jpg 125w,
            ./images/gallery/gallery1-170.jpg 170w,
            ./images/gallery/gallery1-280.jpg 280w,
            ./images/gallery/gallery1-340.jpg 340w,
            ./images/gallery/gallery1-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery1-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery2-85.jpg   80w,
            ./images/gallery/gallery2-125.jpg 125w,
            ./images/gallery/gallery2-170.jpg 170w,
            ./images/gallery/gallery2-280.jpg 280w,
            ./images/gallery/gallery2-340.jpg 340w,
            ./images/gallery/gallery2-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery2-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery3-85.jpg   80w,
            ./images/gallery/gallery3-125.jpg 125w,
            ./images/gallery/gallery3-170.jpg 170w,
            ./images/gallery/gallery3-280.jpg 280w,
            ./images/gallery/gallery3-340.jpg 340w,
            ./images/gallery/gallery3-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery3-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery4-85.jpg   80w,
            ./images/gallery/gallery4-125.jpg 125w,
            ./images/gallery/gallery4-170.jpg 170w,
            ./images/gallery/gallery4-280.jpg 280w,
            ./images/gallery/gallery4-340.jpg 340w,
            ./images/gallery/gallery4-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery4-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery5-85.jpg   80w,
            ./images/gallery/gallery5-125.jpg 125w,
            ./images/gallery/gallery5-170.jpg 170w,
            ./images/gallery/gallery5-280.jpg 280w,
            ./images/gallery/gallery5-340.jpg 340w,
            ./images/gallery/gallery5-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery5-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery6-85.jpg   80w,
            ./images/gallery/gallery6-125.jpg 125w,
            ./images/gallery/gallery6-170.jpg 170w,
            ./images/gallery/gallery6-280.jpg 280w,
            ./images/gallery/gallery6-340.jpg 340w,
            ./images/gallery/gallery6-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery6-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery7-85.jpg   80w,
            ./images/gallery/gallery7-125.jpg 125w,
            ./images/gallery/gallery7-170.jpg 170w,
            ./images/gallery/gallery7-280.jpg 280w,
            ./images/gallery/gallery7-340.jpg 340w,
            ./images/gallery/gallery7-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery7-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery8-85.jpg   80w,
            ./images/gallery/gallery8-125.jpg 125w,
            ./images/gallery/gallery8-170.jpg 170w,
            ./images/gallery/gallery8-280.jpg 280w,
            ./images/gallery/gallery8-340.jpg 340w,
            ./images/gallery/gallery8-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery8-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/gallery9-85.jpg   80w,
            ./images/gallery/gallery9-125.jpg 125w,
            ./images/gallery/gallery9-170.jpg 170w,
            ./images/gallery/gallery9-280.jpg 280w,
            ./images/gallery/gallery9-340.jpg 340w,
            ./images/gallery/gallery9-560.jpg 560w
          "
          sizes="(max-width: 480px) 26vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery/gallery9-280.jpg"
          alt="IceCream"
        />
      </li>
    </ul>
  </div>
</section>
