<section class="container gallery">
  <h2 class="visually-hidden">Галерея</h2>
  <div class="gallery__container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-1-80.jpg   80w,
            ./images/gallery-foto-1-160.jpg 160w,
            ./images/gallery-foto-1-340.jpg 340w,
            ./images/gallery-foto-1-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-1-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-2-80.jpg   80w,
            ./images/gallery-foto-2-160.jpg 160w,
            ./images/gallery-foto-2-340.jpg 340w,
            ./images/gallery-foto-2-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-2-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-3-80.jpg   80w,
            ./images/gallery-foto-3-160.jpg 160w,
            ./images/gallery-foto-3-340.jpg 340w,
            ./images/gallery-foto-3-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-3-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-4-80.jpg   80w,
            ./images/gallery-foto-4-160.jpg 160w,
            ./images/gallery-foto-4-340.jpg 340w,
            ./images/gallery-foto-4-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-4-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-5-80.jpg   80w,
            ./images/gallery-foto-5-160.jpg 160w,
            ./images/gallery-foto-5-340.jpg 340w,
            ./images/gallery-foto-5-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-5-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-6-80.jpg   80w,
            ./images/gallery-foto-6-160.jpg 160w,
            ./images/gallery-foto-6-340.jpg 340w,
            ./images/gallery-foto-6-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-6-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-7-80.jpg   80w,
            ./images/gallery-foto-7-160.jpg 160w,
            ./images/gallery-foto-7-340.jpg 340w,
            ./images/gallery-foto-7-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-7-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-8-80.jpg   80w,
            ./images/gallery-foto-8-160.jpg 160w,
            ./images/gallery-foto-8-340.jpg 340w,
            ./images/gallery-foto-8-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-8-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-9-80.jpg   80w,
            ./images/gallery-foto-9-160.jpg 160w,
            ./images/gallery-foto-9-340.jpg 340w,
            ./images/gallery-foto-9-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-9-160.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery-foto-10-80.jpg   80w,
            ./images/gallery-foto-10-160.jpg 160w,
            ./images/gallery-foto-10-340.jpg 340w,
            ./images/gallery-foto-10-560.jpg 560w
          "
          sizes="(max-width: 320px) 80px, (max-width: 768px) 170px, 280px"
          src="./images/gallery-foto-10-160.jpg"
          alt="IceCream"
        />
      </li>
    </ul>
  </div>
</section>
