<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery0-80.jpg   80w,
            ./images/gallery0-120.jpg 120w,
            ./images/gallery0-170.jpg 170w,
            ./images/gallery0-240.jpg 240w,
            ./images/gallery0-280.jpg 280w,
            ./images/gallery0-340.jpg 340w,
            ./images/gallery0-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery0-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery1-80.jpg   80w,
            ./images/gallery1-120.jpg 120w,
            ./images/gallery1-170.jpg 170w,
            ./images/gallery1-240.jpg 240w,
            ./images/gallery1-280.jpg 280w,
            ./images/gallery1-340.jpg 340w,
            ./images/gallery1-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery1-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery2-80.jpg   80w,
            ./images/gallery2-120.jpg 120w,
            ./images/gallery2-170.jpg 170w,
            ./images/gallery2-240.jpg 240w,
            ./images/gallery2-280.jpg 280w,
            ./images/gallery2-340.jpg 340w,
            ./images/gallery2-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery2-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery3-80.jpg   80w,
            ./images/gallery3-120.jpg 120w,
            ./images/gallery3-170.jpg 170w,
            ./images/gallery3-240.jpg 240w,
            ./images/gallery3-280.jpg 280w,
            ./images/gallery3-340.jpg 340w,
            ./images/gallery3-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery3-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery4-80.jpg   80w,
            ./images/gallery4-120.jpg 120w,
            ./images/gallery4-170.jpg 170w,
            ./images/gallery4-240.jpg 240w,
            ./images/gallery4-280.jpg 280w,
            ./images/gallery4-340.jpg 340w,
            ./images/gallery4-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery4-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery5-80.jpg   80w,
            ./images/gallery5-120.jpg 120w,
            ./images/gallery5-170.jpg 170w,
            ./images/gallery5-240.jpg 240w,
            ./images/gallery5-280.jpg 280w,
            ./images/gallery5-340.jpg 340w,
            ./images/gallery5-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery5-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery6-80.jpg   80w,
            ./images/gallery6-120.jpg 120w,
            ./images/gallery6-170.jpg 170w,
            ./images/gallery6-240.jpg 240w,
            ./images/gallery6-280.jpg 280w,
            ./images/gallery6-340.jpg 340w,
            ./images/gallery6-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery6-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery7-80.jpg   80w,
            ./images/gallery7-120.jpg 120w,
            ./images/gallery7-170.jpg 170w,
            ./images/gallery7-240.jpg 240w,
            ./images/gallery7-280.jpg 280w,
            ./images/gallery7-340.jpg 340w,
            ./images/gallery7-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery7-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery8-80.jpg   80w,
            ./images/gallery8-120.jpg 120w,
            ./images/gallery8-170.jpg 170w,
            ./images/gallery8-240.jpg 240w,
            ./images/gallery8-280.jpg 280w,
            ./images/gallery8-340.jpg 340w,
            ./images/gallery8-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery8-280.jpg"
          alt="IceCream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery9-80.jpg   80w,
            ./images/gallery9-120.jpg 120w,
            ./images/gallery9-170.jpg 170w,
            ./images/gallery9-240.jpg 240w,
            ./images/gallery9-280.jpg 280w,
            ./images/gallery9-340.jpg 340w,
            ./images/gallery9-560.jpg 560w
          "
          sizes="(max-width: 480px) 25vw, (max-width: 768px) 170px, 280px"
          src="./images/gallery9-280.jpg"
          alt="IceCream"
        />
      </li>
    </ul>
  </div>
</section>
