<div>
  <header class="header">
    <div class="container header__container">
      <nav class="header__nav">
        <a class="link" href="./index.html">
          <img
            class=""
            src="./images/logo-icecream.png"
            alt="icecream"
            width=""
          />
        </a>

        <button
          type="button"
          class="header-button is-active pointer"
          aria-expanded="false"
          aria-controls="nav-container"
          data-menu-button
        >
          <svg width="" height="" aria-label="Переключатель мобильного меню">
            <use
              class="header-button__cross"
              href="./images/icon/symbol-defs.svg#icon-icon-burger"
            ></use>
            <use
              class="header-button__menu"
              href="./images/icon/svg-all.svg#icon-close-menu"
            ></use>
          </svg>
        </button>

        <!--мобільне мєню-->
        <div class="mobile-container is-open" id="nav-container" data-menu>
          <button class="menu-button" type="submit">
            <span class="menu-button__txt">Buy now</span>
            <svg class="menu-button__icon">
              <use href="./images/icon/svg-all.svg#icon-btn-arrow"></use>
            </svg>
          </button>
          <ul class="mobile-list">
            <li class="mobile-list__item">
              <a class="mobile-list__link link" href="./index.html">Home</a>
            </li>
            <li class="mobile-list__item">
              <a class="mobile-list__link link" href="./portfolio.html"
                >About us</a
              >
            </li>
            <li class="mobile-list__item">
              <a class="mobile-list__link link" href="#contacts"
                >How it’s made?</a
              >
            </li>
            <li class="mobile-list__item">
              <a class="mobile-list__link link" href="#contacts"
                >Our products</a
              >
            </li>
            <li class="mobile-list__item">
              <a class="mobile-list__link link" href="#contacts">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
