<header class="hero-header">
  <div class="hero-header__circle">
    <div class="container hero-header__container">
      <nav class="hero-header__nav">
        <a class="link" href="./index.html">
          <img
            class="logo"
            src="./images/logo/logo-icecream.png"
            alt="icecream"
            width=""
          />
        </a>

        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link link" href="./index.html">Home</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link link" href="#about">About us</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link link" href="#advantages">How it’s made?</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link link" href="#products">Our products</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link link" href="#contacts">Contact</a>
          </li>
        </ul>

        <button
          type="button"
          class="header-button is-active pointer"
          aria-expanded="false"
          aria-controls="nav-container"
          data-menu-button
        >
          <svg width="" height="" aria-label="Переключатель мобильного меню">
            <use
              class="header-button__menu"
              href="./images/icon/svg-all.svg#icon-icon-burger"
            ></use>
            <use
              class="header-button__cross"
              href="./images/icon/svg-all.svg#icon-close-menu"
            ></use>
          </svg>
        </button>

        <button
          class="nav-button"
          type="submit"
          aria-expanded="false"
          data-modal-open="modal-header-menu"
        >
          <span class="nav-button__wrapper">
            <span class="nav-button__txt">Buy now</span>
            <svg class="nav-button__icon">
              <use href="./images/icon/svg-all.svg#icon-btn-arrow"></use>
            </svg>
          </span>
        </button>

        <!--мобільне мєню-->
        <div class="mobile-overlay" data-menu>
          <div class="mobile-container" id="nav-container">
            <button class="menu-button" type="submit" data-modal-open="modal-header-menu">
              <span class="menu-button__wrapper">
                <span class="menu-button__txt">Buy now</span>
                <svg class="menu-button__icon">
                  <use href="./images/icon/svg-all.svg#icon-btn-arrow"></use>
                </svg>
              </span>
            </button>
            <ul class="mobile-list">
              <li class="mobile-list__item">
                <a class="mobile-list__link" data-menu-close href="./index.html">Home</a>
              </li>
              <li class="mobile-list__item">
                <a class="mobile-list__link" data-menu-close href="#about">About us</a>
              </li>
              <li class="mobile-list__item">
                <a class="mobile-list__link" data-menu-close href="#about">How it’s made?</a>
              </li>
              <li class="mobile-list__item">
                <a class="mobile-list__link" data-menu-close href="#products">Our products</a>
              </li>
              <li class="mobile-list__item">
                <a class="mobile-list__link" data-menu-close href="#contacts">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="hero">
        <div class="hero__flex">
          <div>
            <h1 class="hero-header__title">
              Ice cream<br />
              made with<br />
              <span class="hero-header__title--accent">passion</span>
            </h1>
            <ul class="hero-header__list-btn">
              <li class="hero-header__item-btn">
                <a
                  href="#products"
                  class="hero-header__button hero-header__button--red"
                  >Products</a
                >
              </li>
              <li class="hero-header__item-btn">
                <a
                  href="#about"
                  class="hero-header__button hero-header__button--white"
                  >How it&#39;s made?</a
                >
              </li>
            </ul>
          </div>
          <ul class="hero-header__list-number">
            <li class="hero-header__item-number">
              <span class="hero-header__item-number--accent">16</span
              ><br />cafes
            </li>
            <li class="hero-header__item-number">
              <span class="hero-header__item-number--accent">23</span><br />food
              trucks
            </li>
          </ul>
        </div>
        <div class="hero__text-box">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="hero-header__button-icon" href="#about">
            <svg class="hero-icon">
              <use href="./images/icon/svg-all.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--modal header menu-->
  <div id="modal-header-menu" class="backdrop is-hidden">
    <div class="modal">
      <form class="call-form">
        <b class="form-contents">Leave your details, we will call you back</b>

        <div class="form-group">
          <label class="label" for="name">Name</label>
          <span class="input-wrapper">
            <input
              type="text"
              class="call-input pointer"
              name="name"
              id="name"
            />
            <svg class="icon-call" width="12" height="12">
              <use href="./images/icon/svg-all.svg#form-name"></use>
            </svg>
          </span>
        </div>

        <div class="form-group">
          <label class="label" for="tel">Phone number</label>
          <span class="input-wrapper">
            <input type="tel" class="call-input pointer" name="tel" id="tel" />
            <svg class="icon-call" width="13" height="13">
              <use href="./images/icon/svg-all.svg#form-phone"></use>
            </svg>
          </span>
        </div>

        <div class="form-group">
          <label class="label" for="mail">Email</label>
          <span class="input-wrapper">
            <input
              type="email"
              class="call-input pointer"
              name="mail"
              id="mail"
            />
            <svg class="icon-call" width="15" height="12">
              <use href="./images/icon/svg-all.svg#form-mail"></use>
            </svg>
          </span>
        </div>

        <div class="form-comment">
          <label class="label pointer" for="comment">Comments</label>
          <textarea
            name="comment"
            id="comment"
            rows="10"
            placeholder="Enter text"
          ></textarea>
        </div>

        <div class="agreement">
          <label class="agreement-label" for="agreement">
            <input
              class="agreement-label__checkbox"
              type="checkbox"
              name="agreement"
              id="agreement"
            />
            <svg class="agreement-label__icon pointer" width="16" height="15">
              <use href="./images/icon/svg-all.svg#form-mark"></use>
            </svg>
            <span class="agreement-label__txt">
              I agree with the mailing and accept<a href=""
                >Terms of the contract</a
              >
            </span>
          </label>
        </div>

        <button type="button" class="clos-modal pointer" data-modal-close="modal-header-menu">
          <svg class="clos-icon">
            <use href="./images/icon/svg-all.svg#icon-closing"></use>
          </svg>
        </button>

        <button class="call-sabmit pointer" type="submit">Send</button>
      </form>
    </div>
  </div>

  <!--modal header-->
  <div class="backdrop is-hidden" data-modal-header>
    <div class="modal">
      <form class="call-form">
        <b class="form-contents">Leave your details, we will call you back</b>

        <div class="form-group">
          <label class="label" for="name">Name</label>
          <span class="input-wrapper">
            <input
              type="text"
              class="call-input pointer"
              name="name"
              id="name"
            />
            <svg class="icon-call" width="12" height="12">
              <use href="./images/icon/svg-all.svg#form-name"></use>
            </svg>
          </span>
        </div>

        <div class="form-group">
          <label class="label" for="tel">Phone number</label>
          <span class="input-wrapper">
            <input type="tel" class="call-input pointer" name="tel" id="tel" />
            <svg class="icon-call" width="13" height="13">
              <use href="./images/icon/svg-all.svg#form-phone"></use>
            </svg>
          </span>
        </div>

        <div class="form-group">
          <label class="label" for="mail">Email</label>
          <span class="input-wrapper">
            <input
              type="email"
              class="call-input pointer"
              name="mail"
              id="mail"
            />
            <svg class="icon-call" width="15" height="12">
              <use href="./images/icon/svg-all.svg#form-mail"></use>
            </svg>
          </span>
        </div>

        <div class="form-comment">
          <label class="label pointer" for="comment">Comments</label>
          <textarea
            name="comment"
            id="comment"
            rows="10"
            placeholder="Enter text"
          ></textarea>
        </div>

        <div class="agreement">
          <label class="agreement-label" for="agreement">
            <input
              class="agreement-label__checkbox"
              type="checkbox"
              name="agreement"
              id="agreement"
            />
            <svg class="agreement-label__icon pointer" width="16" height="15">
              <use href="./images/icon/svg-all.svg#form-mark"></use>
            </svg>
            <span class="agreement-label__txt">
              I agree with the mailing and accept<a href=""
                >Terms of the contract</a
              >
            </span>
          </label>
        </div>

        <button
          type="button"
          class="clos-modal pointer"
          data-modal-close-header
        >
          <svg class="clos-icon">
            <use href="./images/icon/svg-all.svg#icon-closing"></use>
          </svg>
        </button>

        <button class="call-sabmit pointer" type="submit">Send</button>
      </form>
    </div>
  </div>
</header>
