
    <section class="products">
        <div class="container">
            <p class="products__label">100% natural</p>
            <h2 class="products__title">Products</h2>
            <ul class="products__list">
                <li class="products__item">
                    <h3 class="products__subtitle">Ice cream</h3>
                    <p products__about>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </li>
                <li class="products__item">
                    <h3 class="products__subtitle">Ice coffee</h3>
                    <p products__about>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </li>
                <li class="products__item">
                    <h3 class="products__subtitle">milkshakes</h3>
                    <p class="products__about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </li>
            </ul>
    </div>
</section>
