/*кнопка меню*/
.menu-button {
  display: flex;

  align-items: center;
  width: 209px;
  height: 44px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 33px;
  margin-top: 18px;

  border-radius: 22px;
  border: transparent;

  background-color: $white;

  @media screen and (min-width: 769px) and (max-width: 1070px) {
    margin-left: 60px;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  &__txt {
    margin-right: 14px;

    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;

    color: $red;
  }

  &__icon {
    width: 10px;
    height: 10px;
  }

  &:hover,
  &:focus {
    color: $whiteBtnHoverBackG;
  }
}

.nav-button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;

  align-items: center;
  width: 160px;
  height: 44px;

  margin-left: auto;

  border-radius: 22px;
  border: transparent;

  background-color: $white;

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  &__txt {
    margin-right: 14px;

    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;

    color: $red;
    @media screen and (min-width: 767px) {
      margin-right: 12px;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
  }
}
