.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 450px;

  background-color: $pinkBackG;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform $timeChange $cubic;

  @media screen and (max-width: $mobileModalSize) {
    width: 312px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }
}

.call-form {
  padding: 40px;
}

.form-contents {
  display: block;

  margin-bottom: 12px;

  font-family: $mainFont;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $red;

  @media screen and (max-width: 460px) {
    font-size: 17px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
  color: $red;
}

.input-wrapper {
  position: relative;
}

.call-input {
  padding: 12px 12px 12px 42px;

  width: 100%;
  height: 40px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus + .icon-call,
  &:hover {
    fill: $red;
    border-color: var(--secondary-txt-cl);
  }
}

.icon-call {
  position: absolute;

  top: 14px;
  left: 15px;
}

.form-comment {
  margin-bottom: 20px;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  &-label {
    display: flex;
    align-items: center;
  }
}

/*кнопка закриття модалки*/
.clos-modal {
  position: absolute;

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  background-color: var(--accent-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;

  &:hover,
  &:focus {
    fill: var(--secondary-txt-cl);
  }
}

.clos-icon {
  width: 11px;
  height: 11px;
  fill: $redBtnHoverBackG;
}

.call-sabmit {
  display: block;

  border: transparent;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;

  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: $white;
  background: $red;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

body.modal-open {
  overflow: hidden;
}
