textarea {
  display: block;

  resize: none;
  padding: 12px 16px;

  width: 100%;
  height: 120px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea:focus,
textarea:hover {
  border-color: $pink;
}
